:root {
  --clr-primary-400: hsl(263, 55%, 52%);
  --clr-primary-600: hsl(217, 19%, 35%);
  --clr-primary-800: hsl(219, 29%, 14%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 81%);
  --clr-neutral-400: hsl(210, 46%, 95%);

  --fs-main: 0.813rem;

  --fw-medium: 500;
  --fw-bold: 700;

  --ff-main: "Barlow Semi Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

/* General Styling */
body {
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
  font-size: var(--fs-main);
  /* color: var(--clr-neutral-400); */
  background: var(--clr-neutral-400);
  min-height: 100vh;
}

/* Testimonials Styling */
.testimonials {
  margin: 5rem 1.5rem;
  display: grid;
  gap: 1.5rem;
}

.card {
  --card-padding: 2rem;
  --card-spacing: 1rem;
  display: grid;
  gap: var(--card-spacing);
  padding: var(--card-padding);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Cards Background Colors */
.card--purple {
  background-color: var(--clr-primary-400);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 20px;
  color: var(--clr-neutral-400);
}

.card--gray {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-400);
}

.card--white {
  background-color: var(--clr-neutral-100);
}

.card--black {
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-400);
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__header img {
  width: 30px;
  border-radius: 50%;
}

.card__header-img--white {
  border: 2px solid var(--clr-neutral-200);
}

.card__header-img--purple {
  border: 2px solid var(--clr-primary-400);
}

.card__name {
  display: flex;
  flex-direction: column;
}

.card__name span {
  font-weight: var(--fw-medium);
  opacity: 50%;
  font-size: 0.7rem;
}

.card__description {
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

.card__description--gray {
  color: var(--clr-primary-600);
  opacity: 90%;
}

.card__info {
  line-height: 1.4;
  opacity: 70%;
}

.card__info--gray {
  color: var(--clr-primary-600);
}

/* Media Queries */
@media (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonials {
    max-width: 1200px;
    margin: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card:nth-of-type(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .card--purple {
    background-position: top 0 right 100px;
  }

  .card:nth-of-type(3) {
    grid-row: 2 / 3;
  }

  .card:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }

  .card:nth-of-type(5) {
    grid-row: 1 / 3;
  }

  .card__description {
    font-size: 1.3rem;
    max-width: 52ch;
  }

  .card__info {
    font-size: 0.9rem;
  }
}
